<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>




<!--<script type="text/javascript" th:src="@{/script.js}" defer></script>-->
    <script th:inline="javascript" defer>
        const initialValues = [[${products}]]
        console.log(initialValues)

        const increaseValue = (element) => {
            const countId = element.getAttribute("data-product-id")
            const productCountEl = document.getElementById(countId)
            const productName = element.getAttribute("data-product-name")

            const newVal = parseInt(productCountEl.textContent) + 1
            productCountEl.textContent = newVal

            for (const value of initialValues) {
                if (value.name === productName && value.count == parseInt(newVal)) {
                    console.log("Equal")
                }
            }
        }

        const decreaseValue = (element) => {
            const countId = element.getAttribute("data-product-id")
            const productCountEl = document.getElementById(countId)
            const productName = element.getAttribute("data-product-name")

            const newVal = parseInt(productCountEl.textContent) - 1
            productCountEl.textContent = newVal

            for (const value of initialValues) {
                if (value.name === productName && value.count === newVal) {
                    console.log("Equal")
                }
            }
        }




    </script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">-->

</head>
<body>
<h1>Выберите точку на отправку</h1>

<div class="page__select">
    <a href="http://localhost:8083/page/чапа">
        Чапа
    </a>
    <a href = "http://localhost:8083/page/DNA">
        DNA
    </a>
</div>


</body>
</html>