<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>




    <!--<script type="text/javascript" th:src="@{/script.js}" defer></script>-->

    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
    <!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
    <!--    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">-->

</head>
<body>

<div class="modal__box" >
    <div class="modal" >
        <div class="update__product">
            <form>
                <label for="new_count">Введите новое значение продукта <span id="updateProductName"></span></label>
                <input type="text" id="new_count">
                <input type="submit" value="Обновить" id="submit_update_value"/>
            </form>
        </div>
        <div class="add__comment"></div>
        <div class="success"></div>
    </div>
</div>

<h1 th:text="'Данные по заказам сегодня ' + ${shopName}"></h1>
<div class="products">
    <div th:each="product: ${products}" th:id="${product.getName()} + '_wrap'" class="wrap">
        <div class="name_and_count">
            <p th:text="${product.getName()}" th:id="${product.getName()}"></p>
        </div>

        <div class="right__side">
            <p th:text="${product.getCount()}" th:id="${product.getName() }+ '_count'"></p>
            <div class="button__group">
                <button class="change__button" th:data-product-id="${product.getName()} + '_count'" th:data-product-name="${product.getName()}" onclick="showUpdateModal(this)">Update</button>
                <button class="change__button" th:data-product-id="${product.getName()} + '_count'" th:data-product-name="${product.getName()}" onclick="decreaseValue(this)">❌</button>
            </div>
        </div>

    </div>

</div>
    <div class="command__buttons">
        <button id="comment__button">Добавить комментарий</button>
        <button id="update__button">Обновить</button>
    </div>


<script defer th:inline="javascript" >
    const body = document.querySelector('body')

    let activeCountId = -1;
    let activeProductName = ''

    const updateProductModal = document.querySelector('.update__product')
    const outerModal = document.querySelector('.modal__box')
    const innerModal = document.querySelector('.modal')

    const initialValues = [[${products}]]
    console.log(initialValues)

    const updateValue = (newVal) => {
        const productCountEl = document.getElementById(activeCountId)
        productCountEl.textContent = newVal

        for (const value of initialValues) {
            if (value.name === activeProductName && value.count == parseInt(newVal)) {
                console.log("Equal")
            }
        }
    }

    const increaseValue = (element) => {
        const countId = element.getAttribute("data-product-id")
        const productCountEl = document.getElementById(countId)
        const productName = element.getAttribute("data-product-name")

        const newVal = parseInt(productCountEl.textContent) + 1
        productCountEl.textContent = newVal

        for (const value of initialValues) {
            if (value.name === productName && value.count == parseInt(newVal)) {
                console.log("Equal")
            }
        }
    }

    const decreaseValue = (element) => {
        const countId = element.getAttribute("data-product-id")
        const productCountEl = document.getElementById(countId)
        const productName = element.getAttribute("data-product-name")

        const newVal = parseInt(productCountEl.textContent) - 1
        productCountEl.textContent = newVal

        for (const value of initialValues) {
            if (value.name === productName && value.count === newVal) {
                console.log("Equal")
            }
        }
    }

    const showModal = () => {
        outerModal.style.display = 'flex'
        body.style.overflow = 'hidden'
    }

    const closeModal = () => {
        outerModal.style.display = 'none'
        body.style.overflow = 'visible'
    }

    const showUpdateModal = (element) => {
        showModal()

        updateProductModal.style.display = 'flex'
        activeCountId = element.getAttribute("data-product-id")
        activeProductName = element.getAttribute("data-product-name")
        document.getElementById('updateProductName').textContent = activeProductName
    }

    const updateProductCountSubmit = (event) => {
        event.preventDefault()
        updateValue(document.getElementById('new_count').value)
        document.getElementById(activeProductName + '_wrap').style.backgroundColor = '#FFEE8C'
        closeModal()
    }


    outerModal.onclick = (event) => {
        console.log("Outer clicked")
        outerModal.style.display = 'none'
        body.style.overflow = 'visible'
    }

    innerModal.onclick = (event) => {
        event.stopPropagation()
        console.log('inner clicked')
    }

    document.getElementById('submit_update_value').onclick = (event) => updateProductCountSubmit(event)

</script>

</body>
</html>